NODE_ENV=development
PORT=4000
AUTH_BYPASS=false
FIREBASE_PROJECT_ID=gelanctf
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@gelanctf.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY=replace-with-service-account-private-key
